/library/__pycache__
/.ipynb_checkpoints
/library/.ipynb_checkpoints
/logs/fit
kfold_validation.py
/library/FaceEmotion4Lib/__pycache__/__init__.cpython-310.pyc
/library/FaceEmotion4Lib/__pycache__/lib_model.cpython-310.pyc
/create/multiple_training_hodout.py
